<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete Movie</title>
  </head>
  <body>
    <form action="">
      <div class="formItem">
        <label for="movieName">Movie Name</label>
        <select name="" id="movieName"></select>
      </div>
    </form>
  </body>
</html>
