<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Add Director</h1>
    <form action="/newDirector" method="post">
      <div class="formItem">
        <label for="directorName">Director Name</label>
        <input type="text" name="directorName" id="directorName" required />
      </div>
      <div class="formItem">
        <label for="dob">Date of Birth</label>
        <input type="date" name="dob" id="dob" />
      </div>
      <button>Submit</button>
    </form>
  </body>
</html>
