<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Movie Manager</h1>
    <form action="/new"><button>Add Movie</button></form>
    <form action="/newDirector"><button>Add Director</button></form>
    <form action="/deleteForm"><button>Delete Movie</button></form>
    <h2>All Movies</h2>
    <ul>
    <% allMovies.forEach(item => { %>
      <li><a href="/movies/<%= item.name.toLowerCase().split(" ").join("-") %>"><%= item.name %></a></li>
    <% }); %>
    </ul>
    <h2>All Directors</h2>
    <ul>
      <% allDirectors.forEach(item => { %>
        <li><a href="/directors/<%= item.name.toLowerCase().split(" ").join("-") %>"><%= item.name %></a></li>
      <% }) %>
    </ul>
  </body>
</html>
